* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
#master {
  position: absolute;

  height: auto;
  width: 100vw;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 15px;
}

.epsilonbilde {
  margin: auto;
  width: 30%;
}
.epsilonbilde img {
  margin: auto;
}
h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
  display: flex;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  display: flex;
  height: 8vh;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
}

#tittel {
  padding-top: 10px;
  margin: auto;
  height: 10vh;
  width: 90%;
  text-align: center;
  border-bottom: 3px solid black;
}
#søkefelt {
  position: relative;
  width: 35vw;
  height: 7vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

#søkefelt input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 25px;
}

#søkefelt button {
  position: absolute;
  width: 15%;
  height: 100%;
  margin-left: 86%;
  background-color: #0c137a;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 25px;
  margin-top: 8px;
}

#content {
  position: relative;
  min-height: 600px;
  height: auto;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 50px grey;
  border-radius: 10px;
}

.row-container {
  margin: 30px;
  justify-content: flex-start;
}

.row-container p {
  margin-left: 15%;
  text-decoration: underline darkslategrey;
}

.linje {
  width: 70%;
  border-color: rgb(0, 0, 0);
}
.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  position: relative;
  height: 150px;
  width: 70%;

  flex-direction: row;
  justify-content: space-between;
}
.Bok {
  margin: 5px;
  height: 75px;
  display: flex;
  border: 1px solid black;
  width: 20%;
  padding: 5px;
  font-size: 30px;
}

.nyhet {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5%;
  height: cover;
  display: flex;
  border: 1px solid black;
  width: 20%;
  padding: 5px;
  font-size: 30px;
}

#footer {
  background-color: black;
  height: 45vh;
  position: absolute;

  width: 100vw;
  overflow: hidden;
}
#footer h1 {
  color: white;
}
#footer-container {
  width: 80%;
  height: cover;
  margin: auto;
}
.footer-flex {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tittel {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  text-decoration: underline;
}
.punkt {
  font-weight: lighter;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Nå begynner css'en for introduksjonsguiden*/

#guide {
  width: 70%;
  margin: auto;
  padding: 10px;
}

/* Nå begynner css-en for innloggingssiden*/

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.header button {
  padding: 10px 15px;
  background-color: #0c137a;
  color: #ffffff;
  text-decoration: none;
  margin-top: 5px;
  display: flex;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-right: 20px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336 !important;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  margin-bottom: 0px;
}

span.psw {
  float: right !important;
  margin-right: 10px;
  margin-top: -30px !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* CSS for registreringsskjemaet */
.registerbtn {
  background-color: #0c137a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.registerbtnn {
  background-color: #b10707;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtnn:hover {
  opacity: 1;
}

/* CSS for brukeroversikten*/

table {
  margin: 0px auto;
  float: none;
  width: 50%;
  border-collapse: collapse;
}

table,
th,
td {
  white-space: wrap;
  border: 1px solid black;
  padding: 15px;
  min-width: 90%;
}
tr:hover {
  background-color: #40cdfb38;
}

/* CSS for registreringshuben*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding: 20px;
}

.flex-div {
  background-color: #f1f1f1;
  width: 40%;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  position: relative;
}

.tekst {
  text-align: center;
  position: relative;
}
.pic {
  margin-top: 100px;
  margin: auto;
  position: relative;
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
